.pane {
    -fx-background-image: url("myMainImage.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.pane2{
    -fx-background-image: url("myMenuImage.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.pane3{
	 -fx-background-image: url("pizzaOptionsImage.jpg"); /*tablica*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.pane4{
    -fx-background-image: url("basketImage.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.pane5{
    -fx-background-color: #3399cc;

}

.laFamilia{
    -fx-color: white;
    -fx-font-size: 350%;
    -fx-font-style: italic;
    -fx-text-align:center;
    -fx-font-family: 'Parisienne', cursive;
    src: url("pl.kappserv/fonts/Parisienne-Regular.tff");
}

.button1{
   -fx-background-color: transparent;
 }

.button1:hover{
     -fx-background-color: black;
     -fx-color: white;
     -fx-cursor: pointer;
 }


 .list{
    -fx-background: transparent;
    -fx-color: white;
 }

 .button2{
    -fx-font-size: 14px;
    -fx-background-color:black;
    -fx-text-color: white;
 }

 .button3{
    -fx-background-color: transparent;
    -fx-border-style-bottom: dotted ;
    -fx-border-color: white;
    -fx-border-width: 2px;

 }
  .button3:hover{
  -fx-background-color:black;
  -fx-color: white;
  -fx-cursor: pointer;
  }

 .tab-pane>*.tab-header-area>*.tab-header-background{
     -fx-background-color: -fx-outer-border,  black;
	 -fx-opacity:70%;
  }

.tabela{
    -fx-text-base-color: white;
    -fx-background-color: rgb(0,0,0,0.5);
    -fx-font-size:16px;
}

.zawartoscTabeli{
	-fx-text-base-color:white;
	-fx-font-size: 14px;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-background-color:transparent;
    -fx-text-fill: white;
}

.table-row-cell:selected {
    -fx-background-color: black;
	-fx-opacity: 70%;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, transparent;
    -fx-background-color:transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.button-Disconnect{
    -fx-background-color: transparent;
    -fx-color: white;
}

.button-Disconnect:hover{
     -fx-background-color:#006699;
}

